github "ReactiveX/RxSwift"
github "SwiftyBeaver/SwiftyBeaver"
github "https://github.com/Sajjon/BitcoinKit.git" "b5dc019e89067eba2ed96211cf1fa2929fa05861"
github "attaswift/BigInt"
github "krzyzanowskim/CryptoSwift"
github "myfreeweb/SwiftCBOR"
github "Quick/Quick"
github "Quick/Nimble"