github "ReactiveX/RxSwift"
github "SwiftyBeaver/SwiftyBeaver"
github "yenom/BitcoinKit"
github "attaswift/BigInt"
github "krzyzanowskim/CryptoSwift"
github "myfreeweb/SwiftCBOR"
github "Quick/Quick"
github "Quick/Nimble"